.home-1 {
    background-image: url("../../assets/images/Perifericoshome.jpg");
    background-size: cover;
    color: white;   
}

.producthome {
    width: 100%;
}

.Home {
 background-color: black;
}
