.header{
    background-color: black;
    font-size: larger;
    color: white;
    margin: 0;
    padding: 0;
    height: 5vw;
}

.loginBtn{
    display: flex;
    justify-content: right;
    padding-top: 2em;
    padding-right: 3em;
    
}

