
.loginBtn{
    display: flex;
    justify-content: right;
   
    
}

header {
    background-color: black;
    background-size: cover;
    height: 30vh;
    position:relative
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    border: solid black;
    
}