.registerBtn{
 margin-right: 1em;
 background-color: black;   
}

.submitRegister{
background-color:black;
display: flex;
justify-content: center;
margin-bottom: 1em;
}

.resetRegister{
background-color: black;
}